.bgComponent {
  background-color: #a5abaf;
  width: 100%;
  height: 100%;
  padding-bottom: 30%;
  background:url("https://previews.123rf.com/images/hdesert/hdesert1611/hdesert161100244/68522437-cuaderno-y-l%C3%A1piz-en-blanco-con-la-lista-de-tareas-sobre-un-fondo-oscuro-de-la-madera.jpg");
  
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px 16px 0px;
  
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 15%;
}

.bgShearch {
  background-color: #a5abaf;
  color: #ffffff;
  
}

.mat-icon {
  padding: 15px;
}

.colorUpdate {
  color: #0938d3;
  cursor: pointer;
  padding-right: 15px;
}

.colorDelete {
  color: #af0a20;
  cursor: pointer;
  padding-right: 15px;
}

.deleteIcon:hover {
  color: #ff0000;
  cursor: pointer;
  padding-right: 15px;
}

.updateIcon:hover {
  color: #20cbff;
  cursor: pointer;
  padding-right: 15px;
}

.button {
  display: flex;
  justify-content: center;
  background-color: #4de008;
  width: 5%;
  height: 5%;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}
