<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Debbel</title>
    <link rel="stylesheet" href="welcome.component.css" />
  </head>
  <body>
    <section class="grid">
      <div class="grid__texts">
        <h2 class="grid__title">Bienvenido a:</h2>
        <h2 class="grid__title grid__title--transform">
          <p>-Facil</p>
          <p>-Rapida</p>
          <p>-Intuitiva</p>
          <br />
          <br />
          <button class="button" onclick="window.location.href='/login/'">Continue</button>
        </h2>
      </div>
    </section>
  </body>
</html>
