<br /><br />
<h2 class="title">Lugares</h2>
<br /><br />
<p class="subtitle">Descubre los lugares de Santa Marta.</p>

<br /><br /><br />

<a class="section_title" title="Ciudad Perdida">Ciudad Perdida</a>
<a class="section_title" title="El Rodadero">El Rodadero</a>
<a class="section_title" title="San Pedro">San Pedro</a>
<img
  class="pg1"
  [routerLink]="['/listTask/']"
  src="../../../assets/ciudad_perdida.jpg"
  href="listTask"
/>
<img
  class="pg1"
  [routerLink]="['/listTask/']"
  src="../../../assets/El_Rodadero.jpeg"
  href="listTask"
/>
<img
  class="pg1"
  [routerLink]="['/listTask/']"
  src="../../../assets/quinta.jpg"
  href="listTask"
/>
<br /><br /><br /><br /><br /><br />
<a class="section_title" title="La Sierra Nevada">Sierra Nevada</a>
<a class="section_title" title="Parque Tayrona">Parque Tayrona</a>
<a class="section_title" title="Taganga">Taganga</a>
<img
  class="pg1"
  [routerLink]="['/listTask/']"
  src="../../../assets/Nevada.jpeg"
  href="listTask"
/>
<img
  class="pg1"
  [routerLink]="['/listTask/']"
  src="../../../assets/Tayrona.jpg"
  href="listTask"
/>
<img
  class="pg1"
  [routerLink]="['/listTask/']"
  src="../../../assets/Taganga.jpg"
  href="listTask"
/>
