.container {
  display: flex;
  flex-direction: column;
}
.imagen {
  margin: 10px auto;
  display: block;
  max-width: 50%;
  max-height: 50%;
}
.button {
  width: 100%;
  background-color: #383d38;
  color: white;
}
.button2 {
  width: 100%;
  background-color: #fd0505;
  color: white;
}
.hiper {
  display: flex;
  justify-content: center;
}
.card {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  border-radius: 15px;

}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 16px 0px;
}

.bgComponent {
  width: 100%;
  height: 100%;
  padding-bottom: 30%;
  backdrop-filter: blur(6px);
}

mat-card-title {
  text-align: center;
}
